fastapi
uvicorn[standard]
vllm==0.10.1
bitsandbytes==0.46.1 
transformers==4.55.0
sentencepiece==0.2.1
tiktoken==0.7.0
huggingface-hub[cli,hf_transfer]==0.34.0
protobuf==4.24.0
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-gpu
pythainlp
nltk
jiwer
huggingface_hub
pydantic
pandas
numpy<2.0
torch
